@import '../../../common/less/func.less';
.menus-wrap {
    float: left;
    width: 98px;
    height: 100%;
    border-right: 2px dashed #eee;
    margin-left: -100%;
    .menus {
        width: 100%;
        padding-top: 1px;
    }
    .menu {
        width: 80px;
        border: 2px solid #eee;
        margin: 10px auto;
    }
}