@import '../../../common/less/func.less';
.modify-wrap {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 298px;
    border-left: 2px dashed #eee;
    .modify-scene {
        width: 100%;
        height: 180px;
        border-bottom: 2px solid #eee;
    }
    .modify {
        position: absolute;
        top: 182px;
        bottom: 20px;
        width: 100%;
        overflow-y: auto;
        .scrollBar();
    }
}